# Zipfile with historical wildfire perimeters
HistoricalWildfirePerimeters.zip

# Folder with ESRI wildfire Shapefile and data
/HistoricalWildfirePerimeters


# Folder with states and provinces data
/NaturalEarthData